<component name="libraryTable">
  <library name="logback-android-core-1.0.7-1">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/com.github.tony19/logback-android-core/1.0.7-1/47a576632d58aeb378dda638ced69090857be525/logback-android-core-1.0.7-1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/com.github.tony19/logback-android-core/1.0.7-1/42ac1b54e4398e75364a7c13b0ae22340bc3e35d/logback-android-core-1.0.7-1-sources.jar!/" />
    </SOURCES>
  </library>
</component>